/* Colors */
$bgWhiteColor: #FFFFFF;
$bgRedColor: linear-gradient(180deg, #D2333E 0%, #F54B55 100%);
$greyColor: #979797;
$blackColor: #000000;

/* Fonts */
$fz16: 16px;
$fz24: 24px;
$lh24: 24px;
$lh32: 32px;
$fw400: 400;
$fw700: 700;

/* Shadows */
$bonusShadow: 2px 2px 16px rgba(0, 0, 0, 0.2);

/* Other */
$minHeight: 50vh;